{% extends 'base.html' %}

{% block content %}
  
  <section id="feature-search-list" class="py-5">
      <div id="herb-search-list" class="container card">
          <div class="row">
                          <div class="col-md-3 card-body">
                          <img class="card-img-top img-fluid" src="{{ herb.image.url }}" alt="">
                          </div>
                          <div class="col-md-5 card-body">
                                      <h5 class="card-title">
                                      {{ herb.english_Name }} ( {{ herb.local_Name }} )
                                      </h5>
                                      <p class="text-muted text-uppercase">{{ herb.category }}</p>
                          </div>
                          <div class="col-md-4 card-body">
                                      <div class="herb-attribute">
                                          <p class="herb-xter">Local name: <span class="text-muted">{{ herb.local_Name }} </span></p><hr><p class="herb-xter">Eglish name: <span class="text-muted">{{ herb.english_Name }} </span></p><hr>
                                          <p class="herb-xter">Botanical name: <span class="text-muted">{{ herb.botanical_Name }} </span></p><hr>
                                          <p class="herb-xter">Region popular: <span class="text-muted">{{ herb.region }} </span></p><hr>
                                        
                              
                                      </div>
                          </div>
                  </div>
    
                  <div class="row py-2">
                      <div class="col-md-12">
                  
                        <div class="card">
                          <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                              <li class="nav-item">
                                <a data-toggle="tab" href="#description" class="nav-link active">Description</a>
                              </li>
                              <li class="nav-item">
                                  <a data-toggle="tab" class="nav-link" href="#benefits">Health Benefits</a>
                              </li>
                              <li class="nav-item">
                                  <a data-toggle="tab" class="nav-link" href="#uses">Uses</a>
                              </li>
                            </ul>
                          </div>
                          
                          <div class="tab-content">
                            <div id="description" class="card-body tab-pane fade show active">
                              <p class="card-text">{{ herb.description }}
                              </p>
                            </div>
                            <div id="benefits" class="card-body tab-pane fade">
                                <p class="card-text">{{ herb.health_benefits}}</p>
                              </div>
                              <div id="uses" class="card-body tab-pane fade">
                                  <p class="card-text">{{ herb.uses }}
                                </div>
                          </div>
                        </div>
                      
                      </div>
                    </div>

              </div>  
          </div>
        
        </div>
  </section>
    
{% endblock content %}
